<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>@Html.Raw(MC.MPBasicSetting.WeChatTitleName + "后台管理平台")</title>
    <link href="~/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layui/layui.js"></script>
    <link href="~/Content/pc.css" rel="stylesheet" />
</head>
<body class="layui-layout-body">
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo">@Html.Raw(MC.MPBasicSetting.WeChatTitleName + "后台管理平台")</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                @*<li class="layui-nav-item">@Html.ActionLink("推荐管理", "OrderList", "Admin")</li>*@
                <li class="layui-nav-item"><a href="javascript:active('推荐管理','/Admin/OrderList','order');">推荐管理</a></li>
                <li class="layui-nav-item"><a href="javascript:active('课程管理','/Admin/Course','course');">课程管理</a></li>
                <li class="layui-nav-item"><a href="javascript:active('佣金管理','/Admin/FeeList','fee');">佣金管理</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">系统管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="#">用户信息</a></dd>
                        <dd>@Html.ActionLink("佣金公式", "FeeRate", "Admin")</dd>
                        <dd>@Html.ActionLink("基础代码", "BasicContentList", "BasicCode")</dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="~/images/touxiang.jpeg" class="layui-nav-img">
                        @ViewBag.UserName
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href='@Url.Action("LogOut")'>安全退出</a></dd>
                    </dl>
                </li>
                @*<li class="layui-nav-item"><a href="">退了</a></li>*@
            </ul>
        </div>
        @*@RenderSection("LeftSide", false)*@
        <div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <!-- 左侧导航区域（可配合layui已有的垂直导航） -->
                <ul class="layui-nav layui-nav-tree" lay-filter="test">
                    <li class="layui-nav-item layui-nav-itemed">
                        <a class="" href="javascript:;">信息列表</a>
                        <dl class="layui-nav-child">
                            <dd><a href="javascript:;">推荐人列表</a></dd>
                            <dd><a href="javascript:;">客户列表</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item">
                        <a href="javascript:;">统计报表</a>
                        <dl class="layui-nav-child">
                            <dd data-name="OrderList" data-jump="/Admin/OrderList"><a href="javascript:;" lay-href="/Admin/OrderList">佣金排行</a></dd>
                            <dd><a href="javascript:;">销量走势</a></dd>
                        </dl>
                    </li>
                    <li class="layui-nav-item"><a href="#">其他推荐</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="background-color:#eee;">
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <div class="layui-tab" lay-filter="main-tab" lay-allowclose="true">
                    <ul class="layui-tab-title">
                        <li class="layui-this" lay-id="admin"><i class="layui-icon layui-icon-home"></i></li>
                    </ul>
                    <div class="layui-tab-content">
                        <div class="layui-tab-item layui-show"> @RenderBody()</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="layui-footer">
            <!-- 底部固定区域 -->
            <p>&copy; @DateTime.Now.Year - @Html.Raw(MC.MPBasicSetting.WeChatTitleName + "后台管理平台")</p>
        </div>
    </div>
    <script>
        var element, $;
        layui.use('element', function () {
            $ = layui.jquery
                , element = layui.element; //Tab的切换功能，切换事件监听等，需要依赖element模块
        })

        var active = function (title, url, id) {
            var isHave = false;
            $(".layui-tab-title li").each(function (index, dom) {
                var dom = $(dom);
                if (dom.attr("lay-id") == id) {
                    element.tabChange('main-tab', id);
                    isHave = true;
                    return;
                }
            });
            if (!isHave) {
                element.tabAdd('main-tab', {
                    title: title
                    , content: '<iframe src=' + url + ' width="100%" height="100%" scrolling="no" frameborder="0"></iframe>'
                    , id: id
                });
                element.tabChange('main-tab', id);
            }

        };
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>