@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@MPBasicSetting.WeChatTitleName</title>
    <link href="~/Content/weui.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <script src="~/Scripts/fastclick.js"></script>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <style>
        body, html {
            height: 100%;
            -webkit-tap-highlight-color: transparent;
        }

        .placeholder a {
            height: 70px;
            line-height: 70px;
            font-size: 20px;
        }

        .page-header {
            height: 175px;
            background-color: #01A9DA;
            box-shadow: 5px 5px 10px rgba(0, 0, 0,0.3);
            z-index: -99;
        }

        .headImage {
            margin-top: 20px;
            margin-left: 20px;
            width: 100px;
            height: 100px;
        }

        .big-circle {
            position: absolute;
            width: 100px;
            height: 100px;
            background-color: #6CC8E2;
            border-radius: 50px;
        }

        .wxname {
            color: white;
            font-weight: bold;
            font-size: 25px;
            padding-top: 50px;
            padding-left: 10px;
        }

        .company {
            color: white;
        }


        .weui-grid__icon {
            width: 40px;
            height: 40px;
        }

        .weui-footer {
            margin-top: 80px;
        }

        .mail {
            float: right;
            margin-right: 10px;
            margin-top: 10px;
            width: 28px;
            height: 28px;
            background: url(/Images/mail.png) no-repeat center center;
            background-size: 100% 100%;
        }

        .swiper-container {
            height: 100px;
        }

        .swiper-container {
            box-shadow: 5px 5px 10px rgba(0, 0, 0,0.3);
        }

        .swiper-slide img {
            background-repeat: no-repeat;
            background-position-x: center;
            background-position-y: center;
            background-size: 100% 100%;
        }

        .weui-popup__container {
            z-index: 501;
        }
    </style>
    <style>
           .small-circle {
            position: absolute;
            width: 90px;
            height: 90px;
            background: url("@ViewBag.HeadImageUrl") no-repeat center center;
            background-size: 100% 100%;
            border-radius: 45px;
            margin-left: 5px;
            margin-top: 5px;
        }
    </style>
</head>
<body ontouchstart>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item @ViewBag.Actived1">
                <img src="~/images/show.png" width="100%" height="150" />
                <div class="weui-flex" style="margin:5px">
                    <div class="weui-flex__item ">
                        <div class="btn-margin">
                            <a id="btnYes" href='@Url.Action("Add", "Customer", new { openid=ViewBag.openid })' class="weui-btn weui-btn_warn">我要推荐</a>
                        </div>
                    </div>
                    <div class="weui-flex__item">
                        <div class="btn-margin">
                            <a id="btnNo" href="javascript:myCus();" class="weui-btn weui-btn_warn">
                                我的客户
                            </a>
                        </div>
                    </div>
                </div>
                <div class="weui-flex" style="margin: 5px">
                    <div class="weui-flex__item ">
                        <div class="btn-margin">
                            <a id="btnYes" href='@Url.Action("MyCommission", "Center")' class="weui-btn weui-btn_warn">我的佣金</a>
                        </div>
                    </div>
                    <div class="weui-flex__item">
                        <div class="btn-margin">
                            <a id="btnNo" href="javascript:void(0);" class="weui-btn weui-btn_warn open-popup" data-target="#half">活动规则</a>
                        </div>
                    </div>
                </div>

                <div class="weui-panel weui-panel_access" style="margin-bottom:70px">
                    <div class="weui-panel__hd">最新课程</div>
                    <div class="weui-panel__bd">
                        @if (ViewBag.ProjectList != null)
                        {
                            var i = 0;
                            foreach (var item in ViewBag.ProjectList as MC.Models.Project[])
                            {
                                if (i > 2)
                                {
                                    break;
                                }
                                i++;
                                //显示最新三条信息

                                <a href='@Url.Action("Detail", "Course", new { id = item.ID })' class="weui-media-box weui-media-box_appmsg">
                                    <div class="weui-media-box__hd">
                                        <img class="weui-media-box__thumb" src="~/images/course.png" alt="" />
                                    </div>
                                    <div class="weui-media-box__bd">
                                        <h4 class="weui-media-box__title">@item.Name</h4>
                                        <p class="weui-media-box__desc">@item.Description</p>
                                    </div>
                                </a>
                            }
                            <div class="weui-panel__ft">
                                <a href="javascript:more();" class="weui-cell weui-cell_access weui-cell_link">
                                    <div class="weui-cell__bd">查看更多</div>
                                    <span class="weui-cell__ft"></span>
                                </a>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div id="tab2" class="weui-tab__bd-item @ViewBag.Actived2">
                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form" action="#">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                </div>
                <div class="weui-panel weui-panel_access" style="margin-bottom:70px">
                    <div class="weui-panel__bd">
                        @if (ViewBag.CustomerList != null)
                        {
                            foreach (var item in ViewBag.CustomerList as List<MC.Models.query.CustomerQuery>)
                            {
                                <a href='@Url.Action("Detail", "Customer", new { ID=item.ID })' class="weui-media-box weui-media-box_appmsg">
                                    <div class="weui-media-box__hd">
                                        <img class="weui-media-box__thumb" src='~/images/@Html.Raw(item.Sex.Equals("男")? "male.png":"female.png")' alt="">
                                    </div>
                                    <div class="weui-media-box__bd">
                                        <h4 class="weui-media-box__title">
                                            @item.Name
                                            <span class="weui-media-box__title-after">@item.Phone</span>
                                        </h4>
                                        <p class="weui-media-box__desc">推荐<span style="color:brown">@item.Num</span>次</p>

                                    </div>
                                </a>
                            }
                        }
                        else
                        {
                            @Html.Raw("<p>无推荐客户</p>");
                        }
                    </div>
                </div>
            </div>
            <div id="tab3" class="weui-tab__bd-item @ViewBag.Actived3">

                <div class="weui-search-bar" id="searchBar">
                    <form class="weui-search-bar__form" action="#">
                        <div class="weui-search-bar__box">
                            <i class="weui-icon-search"></i>
                            <input type="search" class="weui-search-bar__input" id="searchInput" placeholder="搜索" required="">
                            <a href="javascript:" class="weui-icon-clear" id="searchClear"></a>
                        </div>
                        <label class="weui-search-bar__label" id="searchText" style="transform-origin: 0px 0px 0px; opacity: 1; transform: scale(1, 1);">
                            <i class="weui-icon-search"></i>
                            <span>搜索</span>
                        </label>
                    </form>
                    <a href="javascript:" class="weui-search-bar__cancel-btn" id="searchCancel">取消</a>
                </div>
                <div class="weui-panel weui-panel_access" style="margin-bottom:70px">
                    <div class="weui-panel__bd">
                        @if (ViewBag.ProjectList != null)
                        {
                            foreach (var item in ViewBag.ProjectList as MC.Models.Project[])
                            {
                                <a href='@Url.Action("Detail", "Course", new { id = item.ID })' class="weui-media-box weui-media-box_appmsg weui-cell_access">
                                <div class="weui-media-box__hd">
                                <img class="weui-media-box__thumb" src="~/images/course.png" alt="">
                                </div>
                                <div class="weui-media-box__bd">
                                <h4 class="weui-media-box__title">@item.Name</h4>
                                <p class="weui-media-box__desc">@item.Description</p>
                                </div>
                                <span class="weui-cell__ft"></span>
                                </a>
                            }
                        }
                        else
                        {
                            @Html.Raw("<p>无课程信息</p>");
                        }
                    </div>
                </div>

            </div>
            <div id="tab4" class="weui-tab__bd-item @ViewBag.Actived4">
                <div class="page-header">
                    <div class="weui-flex">
                        <div class="weui-flex__item">
                            <div class="headImage">
                                <div class="big-circle"></div>
                                <div class="small-circle"></div>
                            </div>
                        </div>
                        <div class="weui-flex__item">
                            <div class="wxname">@ViewBag.UserName</div>

                        </div>
                        <div class="weui-flex__item">
                            <div class="mail"></div>
                        </div>
                    </div>
                    <div class="weui-cells__title" style="color:white;text-align:right;font-size:16px">@Html.Raw("待结佣：" + ViewBag.UserWaitFee + "元 | " + "已结佣：" + ViewBag.UserOverFee + "元")</div>
                </div>
                <div class="weui-cells">
                    <a class="weui-cell weui-cell_access" href='@Url.Action("Update","User")'>
                        <div class="weui-cell__hd"><img src="~/images/setting.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                        <div class="weui-cell__bd">
                            <p>个人设置</p>
                        </div>
                        <div class="weui-cell__ft">个人设置</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href='@Url.Action("MyCommission", "Center")'>
                        <div class="weui-cell__hd"><img src="~/images/fee.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                        <div class="weui-cell__bd">
                            <p>我的佣金</p>
                        </div>
                        <div class="weui-cell__ft">我的佣金</div>
                    </a>
                    <a class="weui-cell weui-cell_access" href="http://h5.cargocargo.cn/">
                        <div class="weui-cell__hd"><img src="~/images/game.png" alt="" style="width:20px;margin-right:5px;display:block"></div>
                        <div class="weui-cell__bd">
                            <p>游戏娱乐</p>
                        </div>
                        <div class="weui-cell__ft">游戏娱乐</div>
                    </a>
                    @*<a class="weui-cell weui-cell_access" href="javascript:;">
                            <div class="weui-cell__hd"><img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC4AAAAuCAMAAABgZ9sFAAAAVFBMVEXx8fHMzMzr6+vn5+fv7+/t7e3d3d2+vr7W1tbHx8eysrKdnZ3p6enk5OTR0dG7u7u3t7ejo6PY2Njh4eHf39/T09PExMSvr6+goKCqqqqnp6e4uLgcLY/OAAAAnklEQVRIx+3RSRLDIAxE0QYhAbGZPNu5/z0zrXHiqiz5W72FqhqtVuuXAl3iOV7iPV/iSsAqZa9BS7YOmMXnNNX4TWGxRMn3R6SxRNgy0bzXOW8EBO8SAClsPdB3psqlvG+Lw7ONXg/pTld52BjgSSkA3PV2OOemjIDcZQWgVvONw60q7sIpR38EnHPSMDQ4MjDjLPozhAkGrVbr/z0ANjAF4AcbXmYAAAAASUVORK5CYII=" alt="" style="width:20px;margin-right:5px;display:block"></div>
                            <div class="weui-cell__bd">
                                <p>我的客户</p>
                            </div>
                            <div class="weui-cell__ft">我的客户</div>
                        </a>*@
                </div>
            </div>
            <div class="weui-tabbar">
                <a id="tabbar1" href="#tab1" class="weui-tabbar__item @ViewBag.TabActived1">
                    @*<span class="weui-badge" style="position: absolute;top: -.4em;right: 1em;">8</span>*@
                    <div class="weui-tabbar__icon">
                        <img src="~/images/icon_nav_button.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">首页</p>
                </a>
                <a id="tabbar2" href="#tab2" class="weui-tabbar__item @ViewBag.TabActived2">
                    <div class="weui-tabbar__icon">
                        <img src="~/images/icon_nav_msg.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">客户</p>
                </a>
                <a id="tabbar3" href="#tab3" class="weui-tabbar__item @ViewBag.TabActived3">
                    <div class="weui-tabbar__icon">
                        <img src="~/images/icon_nav_article.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">课程</p>
                </a>
                <a id="tabbar4" href="#tab4" class="weui-tabbar__item @ViewBag.TabActived4">
                    <div class="weui-tabbar__icon">
                        <img src="~/images/icon_nav_cell.png" alt="">
                    </div>
                    <p class="weui-tabbar__label">我</p>
                </a>
            </div>

            <div id="half" class='weui-popup__container popup-bottom'>
                <div class="weui-popup__overlay"></div>
                <div class="weui-popup__modal">
                    <div class="toolbar">
                        <div class="toolbar-inner">
                            <a href="javascript:;" class="picker-button close-popup">关闭</a>
                            <h1 class="title">活动规则</h1>
                        </div>
                    </div>
                    <div class="modal-content">
                        <article class="weui-article">
                            <section>
                                @ViewBag.ActivityRule
                            </section>
                        </article>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <script>
        $(function () {
            FastClick.attach(document.body);
        });

        function myCus() {
            $("#tab1").removeClass("weui-tab__bd-item--active");
            $("#tabbar1").removeClass("weui-bar__item--on");
            $("#tab2").addClass("weui-tab__bd-item--active");
            $("#tabbar2").addClass("weui-bar__item--on");
        }

        function more() {
            $("#tab1").removeClass("weui-tab__bd-item--active");
            $("#tabbar1").removeClass("weui-bar__item--on");
            $("#tab3").addClass("weui-tab__bd-item--active");
            $("#tabbar3").addClass("weui-bar__item--on");
        }
    </script>
</body>
</html>
