
@{
    Layout = null;
    ViewBag.Title = "我的佣金";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        .weui-navbar {
            background-color: #fff;
        }

        .weui-navbar__item.weui-bar__item--on {
            background-color: #01A9DA;
            color: #fff;
        }

        .weui-navbar__item {
            color: #01A9DA;
        }

            .weui-navbar__item:after {
                border-right: 1px solid #01A9DA;
            }

        .weui-navbar:after {
            border-bottom: 1px solid #01A9DA;
        }
    </style>
</head>
<body>
    <div class="weui-tab">
        <div class="weui-navbar">
            <a class="weui-navbar__item weui-bar__item--on" href="#tab1">
                待结佣金
            </a>
            <a class="weui-navbar__item" href="#tab2">
                已结佣金
            </a>
        </div>
        <div class="weui-tab__bd">
            <div id="tab1" class="weui-tab__bd-item weui-tab__bd-item--active">
                @if (ViewBag.WaitFee != null && (ViewBag.WaitFee as List<MC.Models.query.FeeQuery>).Count > 0)
                {
                    @*<div class="weui-cells__title">待结总金额：<span class="fee-color">@Html.Raw(ViewBag.WaitFeeSum + "元")</span></div>
                        <div class="weui-cells">
                            @foreach (var item in ViewBag.WaitFee as List<MC.Models.query.FeeQuery>)
                            {
                                <a class="weui-cell weui-cell_access" href="javascript:;">
                                    <div class="weui-cell__bd">
                                        <p class="fee-color">@Html.Raw(item.Money.ToString("F2") + "元")</p>
                                    </div>
                                    <div class="weui-cell__ft">@item.OrderNo</div>
                                </a>
                            }
                        </div>*@

                    <div class="weui-form-preview">
                        <div class="mc-card">
                            <div class="weui-form-preview__bd"><span class="weui-form-preview__value fee-color">待结算总金额：@Html.Raw("¥" + ViewBag.WaitFeeSum)</span></div>
                        </div>
                        @foreach (var item in ViewBag.WaitFee as List<MC.Models.query.FeeQuery>)
                        {
                            <div class="mc-card">
                                <div class="weui-form-preview__hd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">待结金额</label>
                                        <em class="weui-form-preview__value fee-color">@Html.Raw("¥" + item.Money.ToString("F2"))</em>
                                    </div>
                                </div>
                                <div class="weui-form-preview__bd">
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">客户名称</label>
                                        <span class="weui-form-preview__value">@item.CusName</span>
                                    </div>
                                    <div class="weui-form-preview__item">
                                        <label class="weui-form-preview__label">推荐日期</label>
                                        <span class="weui-form-preview__value">@item.ApplyDate.ToString("yyyy-MM-dd")</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                }
                else
                {
                    < div style = "text-align:center; color:#bfbfbf" >

                    < br />

                    < img src = "~/images/rmb.png" />

                    < p > 无待结佣金 </ p >

                    </ div >
                }

            </div>
            <div id="tab2" class="weui-tab__bd-item">
                @if (ViewBag.OverFee != null && (ViewBag.OverFee as List<MC.Models.query.FeeQuery>).Count > 0)
                {
                    <div class="weui-cells__title">已结算总金额：<span class="fee-color">@Html.Raw(ViewBag.OverFeeSum + "元")</span></div>
                    <div class="weui-cells">
                        @foreach (var item in ViewBag.OverFee as List<MC.Models.query.FeeQuery>)
                        {
                            <a class="weui-cell weui-cell_access" href="javascript:;">
                                <div class="weui-cell__bd">
                                    <p class="fee-color">@Html.Raw(item.Money.ToString("F2") + "元")</p>
                                </div>
                                <div class="weui-cell__ft">@item.OrderNo</div>
                            </a>
                        }
                    </div>
                }
                else
                {
                    <div style="text-align:center; color:#bfbfbf">
                        <br />
                        <img src="~/images/rmb.png" />
                        <p>无已结佣金</p>
                    </div>
                }
            </div>
        </div>
    </div>
</body>
</html>

