@model MC.Models.Project
@{
    Layout = null;
    ViewBag.Title = "课程概要";
}
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
    <div class="weui-tab__bd">
        <div class="weui-form-preview">
            <div class="mc-card">
                <div class="mc-card">
                    <div class="weui-form-preview__hd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">课程名称</label>
                            <em class="weui-form-preview__value">@Model.Name</em>
                        </div>
                    </div>
                    <div class="weui-form-preview__bd">
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">课程价格</label>
                            <span class="weui-form-preview__value fee-color">@Html.Raw("¥" + Model.Total.ToString("F2"))</span>
                        </div>
                        <div class="weui-form-preview__item">
                            <label class="weui-form-preview__label">课程时间</label>
                            <span class="weui-form-preview__value">@Html.Raw(Model.StartDate.Value.ToString("yyyy-MM-dd") + " 至 " + Model.EndDate.Value.ToString("yyyy-MM-dd"))</span>
                        </div>
                    </div>
                </div>
                <div class="mc-card">
                    @if (ViewBag.Content != null)
                    {
                        @Html.Raw(ViewBag.Content)
                    }
                </div>
            </div>
        </div>
    </div>
</body>
</html>
