@model MC.Models.Customer
@{
    Layout = null;
    ViewBag.Title = "客户进度";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <style>
        body {
            color: #4B4B4B;
        }

        .title_glay {
            color: #999999;
        }

        .weui-flex {
            padding: 10px 15px;
        }
    </style>
</head>
<body>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div class="mc-card">
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        <p>客户名称：@Model.CusName</p>
                        <p>客户电话：@Model.CusPhone</p>
                    </div>
                    <div class="weui-flex__item" style="text-align:right;vertical-align:middle;">
                        <a class="weui-btn weui-btn_mini weui-btn_warn" href="#">修改</a>
                    </div>
                </div>
            </div>
            @if (ViewBag.OrderList != null)
            {
                foreach (var item in ViewBag.OrderList as List<MC.Models.query.OrderQuery>)
                {
                    <div class="mc-card">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <span class="title_glay">意向课程：</span>@item.Name<span style="text-align:right;">
                            </div>
                            <div class="weui-flex__item" style="text-align:right;vertical-align:middle;">
                                <span class="title_glay">课程费用：</span>
                                <span class="fee-color"> @item.ProMoney.ToString("F2")</span>元
                            </div>
                        </div>

                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <ul class="step-list">
                                    @foreach (var state in ViewBag.StateList as List<SelectListItem>)
                                    {
                                        if (item.State.Equals("被驳回"))
                                        {
                                            <li class="acive">
                                                <span class="step">@item.State</span>
                                            </li>
                                            break;
                                        }
                                        else
                                        {
                                            if (state.Text.Equals(item.State))
                                            {
                                                <li class="acive">
                                                    <span class="step">@state.Text</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <span class="step">@state.Text</span>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <span class="title_glay">进度信息：</span>@item.StateInfo
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>

