@model MC.Models.Customer
@{
    Layout = null;
    ViewBag.Title = "客户进度";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css?v=@DateTime.Now.Ticks" rel="stylesheet" />
    <style>
        body {
            color: #4B4B4B;
        }

        .title_glay {
            color: #999999;
        }

        .weui-flex {
            padding: 10px 15px;
        }
    </style>
    <script>
        $(function () {
            $('#modifyCus').click(function () {
                $("#customerModfyDiv").fadeIn("fast");
            });

            $("#btnCancel").click(function () {
                $("#customerModfyDiv").fadeOut("fast");
            });

            $("#btnYes").click(function () {

                if($.trim($("#CusName").val()).length==0){
                    $.toptip('未输入客户名称', 'error');
                    return false;
                }

                if($.trim($("#CusPhone").val()).length==0){
                    $.toptip('未输入客户电话', 'error');
                    return false;
                }

                $.confirm("您确定修改吗?", "修改", function () {
                    $.showLoading();
                    var data={};
                    data.id='@Model.ID';
                    data.cusName=$("#CusName").val();
                    data.cusPhone=$("#CusPhone").val();
                    $.ajax({
                        url: "/Customer/ModifyCus",
                        data:data,
                        success: function (data) {
                            window.location.href=data.url;
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $.toptip('请用微信访问', 'error');
                            $.hideLoading();
                        }
                    });
                }, function () {
                    //取消操作
                });
            });
        });

    </script>
</head>
<body>
    <div class="weui-tab">
        <div class="weui-tab__bd">
            <div class="mc-card">
                <div class="weui-flex">
                    <div class="weui-flex__item">
                        <p>客户名称：@Model.CusName</p>
                        <p>客户电话：@Model.CusPhone</p>
                    </div>
                    <div class="weui-flex__item" style="text-align:right;vertical-align:middle;">
                        <a class="weui-btn weui-btn_mini weui-btn_warn" href="javascript:void(0);" id="modifyCus">修改</a>
                    </div>
                </div>
            </div>
            @if (ViewBag.OrderList != null)
            {
                foreach (var item in ViewBag.OrderList as List<MC.Models.query.OrderQuery>)
                {
                    <div class="mc-card">
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <span class="title_glay">意向课程：</span>@item.Name<span style="text-align:right;">
                            </div>
                            <div class="weui-flex__item" style="text-align:right;vertical-align:middle;">
                                <span class="title_glay">课程费用：</span>
                                <span class="fee-color"> @item.ProMoney.ToString("F2")</span>元
                            </div>
                        </div>

                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <ul class="step-list">
                                    @foreach (var state in ViewBag.StateList as List<SelectListItem>)
                                    {
                                        if (item.State.Equals("被驳回"))
                                        {
                                            <li class="acive">
                                                <span class="step">@item.State</span>
                                            </li>
                                            break;
                                        }
                                        else
                                        {
                                            if (state.Text.Equals(item.State))
                                            {
                                                <li class="acive">
                                                    <span class="step">@state.Text</span>
                                                </li>
                                            }
                                            else
                                            {
                                                <li>
                                                    <span class="step">@state.Text</span>
                                                </li>
                                            }
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                        <div class="weui-flex">
                            <div class="weui-flex__item">
                                <span class="title_glay">进度信息：</span>@item.StateInfo
                            </div>
                        </div>
                    </div>
                }
            }
        </div>
    </div>
    <div id="customerModfyDiv" class="reply_message" style="display: none">
        <div class="weui-cells weui-cells_form">
            <div id='titleMsg' class="weui-cells__title">
                修改客户
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        客户名称
                    </label>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    @Html.TextBox("CusName", Model.CusName, new { @class = "weui-input" })
                </div>
            </div>
            <div class="weui-cell">
                <div class="weui-cell__hd">
                    <label class="weui-label">
                        客户电话
                    </label>
                </div>
                <div class="weui-cell__bd weui-cell_primary">
                    @Html.TextBox("CusPhone", Model.CusPhone, new { @class = "weui-input" })
                </div>
            </div>
            <div class="weui-flex" style="margin: .4em">
                <div class="weui-flex__item ">
                    <div class="placeholder">
                        <a id="btnYes" href="javascript:void(0);" class="weui-btn weui-btn_primary">保存</a>
                    </div>
                </div>
                <div class="weui-flex__item">
                    <div class="placeholder">
                        <a id="btnCancel" href="javascript:void(0);" class="weui-btn weui-btn_warn">取消</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

