@model MC.Models.Customer
@{
    Layout = null;
    ViewBag.Title = "客户进度";
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-2.1.4.js"></script>
    <script src="~/Scripts/jquery-weui.min.js"></script>
    <link href="~/Content/weui.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-weui.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <style>
        hr {
            background-color: #eee;
            height: 5px;
            border: none;
        }

        .progress {
            margin: 20px 0 10px 0;
        }

            .progress li {
                padding: 0px 15px 0 25px;
                line-height: 40px;
                background-color: #50abe4;
                display: inline-block;
                color: #fff;
                position: relative;
                font-size:10pt;
            }

                .progress li:after {
                    content: '';
                    display: block;
                    border-top: 20px solid transparent;
                    border-bottom: 20px solid transparent;
                    border-left: 20px solid #50abe4;
                    position: absolute;
                    right: -20px;
                    top: 0;
                    z-index: 10;
                }

                .progress li:before {
                    content: '';
                    display: block;
                    border-top: 20px solid #50abe4;
                    border-bottom: 20px solid #50abe4;
                    border-left: 20px solid #fff;
                    position: absolute;
                    left: 0px;
                    top: 0;
                }

                .progress li:first-child {
                    border-radius: 4px 0 0 4px;
                    padding-left: 20px;
                }

                .progress li:last-child, .cssNavEnd {
                    border-radius: 0px 4px 4px 0px;
                    padding-right: 25px;
                }

                .progress li:first-child:before {
                    display: none;
                }

                .progress li:last-child:after, .cssNavEnd:after {
                    display: none;
                }

                .progress li.active {
                    background-color: #ef72b6;
                }

                    .progress li.active:after {
                        border-left-color: #ef72b6;
                    }

                    .progress li.active:before {
                        border-top-color: #ef72b6;
                        border-bottom-color: #ef72b6;
                    }

        body {
            color: #999999;
        }

        .title_glay {
            color: #999999;
        }

    </style>
</head>
<body>
    <div class="weui-tab" style="background-color:#fff">
        <div class="weui-tab__bd">
            <div class="weui-flex" style="padding:20px">
                <div class="weui-flex__item">
                    <p>客户名称：@Model.CusName</p>
                    <p>客户电话：@Model.CusPhone</p>
                </div>
                <div class="weui-flex__item" style="text-align:right;vertical-align:middle;">
                    <a class="weui-btn weui-btn_mini weui-btn_warn" href="#">修改</a>
                </div>
            </div>
            @if (ViewBag.OrderList != null)
            {
                foreach (var item in ViewBag.OrderList as List<MC.Models.query.OrderQuery>)
                {
                    <hr />
                    <div class="weui-cell__bd weui-cell_primary" style="padding:20px">
                        <div class="weui-flex">
                            <div class="weui-flex__item"><span class="title_glay">意向课程：</span>@item.Name<span style="text-align:right;"></div>
                            <div class="weui-flex__item" style="text-align:right;vertical-align:middle;"><span class="title_glay">课程费用：</span><span class="fee-color"> @item.ProMoney.ToString("F2")</span>元</div>
                        </div>
                        <div>
                            @if (ViewBag.StateList != null)
                            {
                                <ul class="progress">
                                    @foreach (var state in ViewBag.StateList as List<SelectListItem>)
                                    {
                                        if (state.Text.Equals(item.State))
                                        {
                                            <li class="active">@state.Text</li>
                                        }
                                        else
                                        {
                                            <li>@state.Text</li>
                                        }
                                    }
                                </ul>
                            }
                        </div>
                        <p><span class="title_glay">备注信息:</span>@item.StateInfo</p>
                    </div>
                }
            }
        </div>
    </div>
</body>
</html>

