@model MC.Models.BasicInfoType
@{
    ViewBag.Title = "基本类型添加";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.CrUserId)
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        @Html.LabelFor(model => model.TypeID)
        @Html.TextBoxFor(model => model.TypeID, new { @class = "form-control", @readonly = "readonly" })
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.TypeName)
        @Html.TextBoxFor(model => model.TypeName, new { @class = "form-control", placeholder = "请输入类型名称" })
        @Html.ValidationMessageFor(model => model.TypeName, "", new { @class = "text-danger" })
    </div>
    <div class="form-group">
        <div style="margin-left:20px;">
            <div class="checkbox">
                <labe>
                    @Html.CheckBoxFor(model => model.DelFlag, new { type = "checkbox" })@Html.Raw("禁用标记")
                </labe>
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CrUser)
        @Html.TextBoxFor(model => model.CrUser, new { @class = "form-control", type = "datetime", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.CrTime)
        @Html.TextBoxFor(model => model.CrTime, new { @class = "form-control", type = "datetime", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UpUser)
        @Html.TextBoxFor(model => model.UpUser, new { @class = "form-control", type = "datetime", @readonly = "readonly" })
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.UpTime)
        @Html.TextBoxFor(model => model.UpTime, new { @class = "form-control", type = "datetime", @readonly = "readonly" })
    </div>

    <button type="submit" class="btn btn-primary">保存返回</button>
    <button type="submit" class="btn btn-primary">保存新增</button>

}

